/*Global Variables*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*Body*/
body {
  font-family: sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
}

/**Main Section**/
main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}
/*Main Menu or side bar navigation*/
/*Aside*/
aside {
  flex: 1;
  background-color: #b9c6ae;
  padding: 10px;
  text-align: left;
  position: fixed;
  left: 0;
  top: 0;
  width: 260px;
  height: 100%;
}

/*Profile Picture*/
.picture {
  display: flex;
  justify-content: center;
}

.profile-picture {
  border-radius: 50%;
  border: 1px solid black;
  overflow-clip-margin: content-box;
  overflow: clip;
}

.navbar {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

/*Headings*/
h1 {
  text-align: center;
  font-size: 15px;
  line-height: 1.25;
}

.icons {
  display: flex;
  justify-content: center;
}
.links {
  display: flex;
  justify-content: center;
}
/*Main Content*/
.content1 {
  position: relative;
  left: 290px;
  width: 150vh;
  background-color: rgb(225, 231, 225);
  padding: 10px;
}
.about, .services, .projects, .contact {
  background-color: white;
  padding: 10px;
}

.row {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.row header {
  color: darkslategray;
  font-size: 1.2rem;
}
.card {
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  flex: 0 0 300px;
  box-shadow: 10px 10px 5px #aaaaaa;
  margin: 20px;
}
.form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}